div#error {
    background-color:yellow;
    z-index: 25;
    color:red;
    text-align: left;
    font:bolder 2em monospace;
    width:56vw;
    height: auto;
    padding:1em;
    position:fixed;
    bottom:3px;
    left:3px;
    border-radius: 1em;
    transform: translateX(0px) translateY(0px);
    transition:700ms transform ease;
}
div#error.hidden {
    transform: translateX(100vw) translateY(0px);
}

div#error .message {
    text-align:center;
}
div#error::selection {
    background: white;
}